@model HomeVM
<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="info">
                    <ul class="list-unstyled d-flex m-0 p-0">
                        <li>
                            <i class="me-1 fa-solid fa-envelope"></i>
                            <a href="#">info@example.com</a>
                        </li>
                        <li class="ms-5">
                            <i class="me-1 fa-solid fa-mobile-button"></i>
                            <a href="#"> +1 5589 55488 55</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 m-0">
                <div class="icons">
                    <ul class="list-unstyled d-flex justify-content-end m-0 p-0">
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="ms-4"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="ms-4"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="ms-4"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <nav>
            <div class="row align-items-center">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="nav-logo">
                        <h2>GREEN</h2>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-9 col-lg-9">
                    <div class="nav-menu">
                        <ul class="list-unstyled d-flex m-0 p-0 justify-content-end align-items-center">
                            <li><a class="active" href="#">Home</a></li>
                            <li class="ms-4"><a href="#">About</a></li>
                            <li class="ms-4"><a href="#">Services</a></li>
                            <li class="ms-4"><a href="#">Portfolio</a></li>
                            <li class="ms-4"><a href="#">Team</a></li>
                            <li class="ms-4 drop">
                                <a href="#">
                                    DropDown<i class="ms-2 fa-solid fa-angle-down"></i>
                                </a>
                                <div class="dropdown">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Drop Down</a></li>
                                        <li><a href="#">Drop Down</a></li>
                                        <li class="drip">
                                            <a href="#">Drop Down Menu</a><i class="ms-2 fa-solid fa-angle-right"></i>
                                            <ul class="dripdown list-unstyled">
                                                <li><a href="#">Deep Drop Down</a></li>
                                                <li><a href="#">Deep Drop Down</a></li>
                                                <li><a href="#">Deep Drop Down</a></li>
                                                <li><a href="#">Deep Drop Down</a></li>
                                                <li><a href="#">Deep Drop Down</a></li>
                                                <li><a href="#">Deep Drop Down</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Drop Down</a></li>
                                        <li><a href="#">Drop Down</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="ms-5"><a href="#">Contact</a></li>
                            <li class="ms-5"><a class="btn" href="#">Get Started</a></li>

                        </ul>
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="bar" href="#"><i class="fa-solid fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="box">
        <div class=" d-flex justify-content-between align-items-center mx-5">
            <div class="logo"><h2>Green</h2></div>
            <div class="close"><i class="fa-solid fa-x"></i></div>

        </div>
        <ul class="list-unstyled m-5">
            <li><a href="#">Deep Drop Down</a></li>
            <li class="my-3"><a href="#">Deep Drop Down</a></li>
            <li class="my-3"><a href="#">Deep Drop Down</a></li>
            <li class="my-3"><a href="#">Deep Drop Down</a></li>
            <li class="my-3"><a href="#">Deep Drop Down</a></li>
            <li class="my-3"><a href="#">Deep Drop Down</a></li>
        </ul>
    </div>
</header>