@model HomeVM
<footer class="p-5 mt-5">
    <div class="container">
        <div class="titleLogo text-center">
            <h2>Green</h2>
            <p>
                <i>
                    Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi
                    placeat.
                </i>
            </p>
            <ul class="list-unstyled d-flex justify-content-center">
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-skype"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
            <div class="bottom">
                <p>
                    © Copyright Green. All Rights Reserved
                    Designed by <a href="#">BootstrapMade</a>
                </p>
            </div>
        </div>
    </div>
</footer>